<div class="my-internships-page">
    <div class="page-header">
        <h1 class="page-title">
            My Internships
            <button class="btn-info-icon" [appTooltip]="tooltipContent">
                <i class="bi bi-info-circle-fill"></i>
            </button>
        </h1>
    </div>

    <div class="table-container">
        <!-- Table Controls -->
        <div class="table-controls">
            <div class="entries-control">
                <label>
                    Show
                    <select [(ngModel)]="entriesPerPage" (change)="currentPage = 1">
                        <option [value]="10">10</option>
                        <option [value]="25">25</option>
                        <option [value]="50">50</option>
                    </select>
                    entries
                </label>
            </div>
            <div class="search-control">
                <label>
                    Search:
                    <input type="text" [(ngModel)]="searchTerm" (input)="currentPage = 1" placeholder="Search internships...">
                </label>
            </div>
        </div>

        <!-- Internships Table -->
        <div class="table-responsive" *ngIf="filteredInternships.length > 0">
            <table class="internships-table">
                <thead>
                    <tr>
                        <th>Internship Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Company Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of paginatedInternships">
                        <td class="internship-name-cell">{{item.COURSE_NAME}}</td>
                        <td>{{item.COURSESHD_STARTDATE | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.COURSESHD_ENDDATE | date:'dd-MM-yyyy'}}</td>
                        <td>{{item.COURSESHD_STARTTIME | date:'hh:mm a'}}</td>
                        <td>{{item.COURSESHD_ENDTIME | date:'hh:mm a'}}</td>
                        <td class="company-name-cell">{{item.TNT_NAME}}</td>
                        <td>
                            <div class="action-buttons">
                                <button class="btn btn-sm btn-primary dropdown-toggle"
                                    type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <button class="btn btn-sm btn-upload" type="button"
                                    *ngIf="validateDownloadCertivicate(item.REVIEW_ID,item.COURSESHD_ENDDATE)"
                                    data-bs-toggle="modal" data-bs-target="#UploadResume"
                                    id="btnUploadRsume" (click)="onCourseData(item)">
                                    <i class="bi bi-upload"></i> Upload Resume
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <button class="dropdown-item" href="#"
                                            *ngIf="validateDownloadCertivicate(item.REVIEW_ID,item.COURSESHD_ENDDATE)"
                                            (click)="showModel=true;downloadCertificate(item)">
                                            <i class="bi bi-download"></i> Download Certificate
                                        </button>
                                    </li>
                                    <li>
                                        <input type="button" data-bs-toggle="modal"
                                            data-bs-target="#reviewModel"
                                            id="btnShowReviewModel" class="d-none">
                                        <a class="dropdown-item" (click)="setReviewForm(item)">
                                            <i class="bi bi-star"></i> Review
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- No Records Message -->
        <div class="no-records" *ngIf="filteredInternships.length === 0">
            <i class="bi bi-inbox"></i>
            <p>No internships found</p>
        </div>

        <!-- Pagination -->
        <div class="pagination-container" *ngIf="filteredInternships.length > 0">
            <div class="pagination-info">
                Showing {{ ((currentPage - 1) * entriesPerPage) + 1 }} to 
                {{ Math.min(currentPage * entriesPerPage, filteredInternships.length) }} 
                of {{ filteredInternships.length }} entries
            </div>
            <div class="pagination-controls">
                <button class="btn-page" (click)="previousPage()" [disabled]="currentPage === 1">
                    Previous
                </button>
                <button *ngFor="let page of totalPages" 
                        class="btn-page" 
                        [class.active]="page === currentPage"
                        (click)="goToPage(page)">
                    {{ page }}
                </button>
                <button class="btn-page" (click)="nextPage()" [disabled]="currentPage === totalPages.length">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>




<app-certificate *ngIf="showModel" [certificateInfo]="certificateInfo"
    (closeCertificateEvent)="closeCertificateEvent($event)"></app-certificate>
<input type="button" id="btnShowModel" class="d-none" data-bs-toggle="modal" data-bs-target="#modelCertificate"
    data-bs-whatever="@mdo">




<div class="modal fade" id="reviewModel" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header py-2">
                <h6 *ngIf="!isEdit" class="modal-title w-100"> Submit Review </h6>

                <button type="button" (click)="close()" class="close " data-bs-dismiss="modal"><i
                        class="fas fa-times"></i></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="well form-horizontal" [formGroup]="myForm" (onSubmit)="onSubmitForm(myForm)">
                    <fieldset>
                        <div class="row">
                            <div class="col-xl-4 mb-4">
                                <label class=" form-label line_2 rem_1">
                                    Rating :</label>
                                <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false" formControlName="RATING">
                                </ngb-rating>

                            </div>
                        </div>

                        <div class="col-xl-12 mb-4">
                            <div class="form">
                                <label class=" form-label line_2 rem_1">
                                    Review Description :</label>
                                <textarea type="text" class="form-control form-control-sm"
                                    id="exampleFormControlTextarea1" rows="3" formControlName="DESCRIPTION"
                                    maxlength="100"></textarea>

                            </div>
                        </div>

                    </fieldset>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary"
                            (click)="onSubmitForm(myForm)">Save</button>
                        <button type="button" class="btn btn-sm btn-primary " id='md_close' (click)="close()"
                            data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle "></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UploadResume" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header py-2">
                <h6 *ngIf="!isEdit" class="modal-title w-100">Upload Resume</h6>

                <button type="button" (click)="close()" class="close" id="cls" data-bs-dismiss="modal"><i
                        class="fas fa-times"></i></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form class="well form-horizontal" [formGroup]="myForm" (onSubmit)="onSubmitForm(myForm)">
                    <fieldset>
                        <div class="row">
                            <input type="file" (change)="changeFile($event)" class="form-control">
                        </div>
                    </fieldset>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-save" (click)="onSubmitResume()">Save</button>
                        <button type="button" class="btn btn-sm btn-danger " id='md_close' (click)="close()"
                            data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle fa-2x"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal Popup (only after login) -->
<!-- <div *ngIf="showAdPopup">
    <div class="modal fade show" style="display: block; background: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Special Advertisements</h5>
                    <button type="button" class="btn-close" (click)="closePopup()"></button>
                </div>
                <div class="modal-body">
                    <app-view-ads (adEvent)="adEventChanged($event)"></app-view-ads>
                </div>
            </div>
        </div>
    </div>
</div> -->


<app-recording-schedule *ngIf="isSubmitted" (closeModelEvent)="closeModel($event)" [recordingList]="recordingList">
</app-recording-schedule>
