.subMenu{
    display: none;
}
.parentMenu:hover .subMenu{
    display: block;
}
.dropdown-menu
{
    position: relative;;
}
.dropdown-menu:li {
    text-align: left;
    z-index: auto !important;
    position: relative;
    overflow:visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }
 .dropdown .dropdown-menu {
    margin-top: .75rem;
    font-size: 0.875rem;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(230, 234, 236, 0.35) !important;
    box-shadow: 0px 0px 0px 0px rgba(230, 234, 236, 0.35)!important;
}
.nav-item{
    cursor: pointer;
}

.sidebar-wrapper {
    overflow: auto;
}
