.container-scroller {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  /* padding-top: 70px;  */
}

/* Remove any sidebar-related styles */
.wrapper {
  overflow-x: visible !important;
}
