<div class="wrapper" style="height: auto; overflow: hidden">
  <!--sidebar wrapper -->
  <div class="sidebar-wrapper" data-simplebar="true">

    <div class="sidebar-menu-wrapper">
      <div class="sidebar-header">
        <div>
          <img id="homepageimage_path" src="../../../assets/img/logo2-new.png" style="cursor:pointer;height:40px;"
            class="img-fluid" alt="logo icon">
        </div>
        <!-- <div>
            <h4 class="logo-text">LMS</h4>
          </div> -->
        <!-- <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
          </div> -->
      </div>
      <div class="wrapper" style="margin-top: 9.6vh">
        <ul class="style-1 shadow nav-active1" style="display:block;">
<!-- 
          <li class="parent"> <a [routerLink]="['/HOME/admin-dashboard']"> <i class="bi bi-speedometer2"></i> <span
                class="text">Dashboard</span>
            </a>
          </li> -->

          <!-- <li class="parent" *ngIf="USERTYPE==24"><a
              [routerLink]="RoleId==1?['/HOME/usersRegistrationList']:['/HOME/userRegistration']" class=""><span
                class="icon"><i class="fas fa-user"></i></span>&nbsp;&nbsp;<span class="text">User
                Registration</span></a>
          </li> -->
          <li class="parent" *ngIf="USERTYPE==25"><a
              [routerLink]="RoleId==1?['/HOME/usersRegistrationList']:['/HOME/userRegistration']" class=""><span
                class="icon"><i class="fas fa-user"></i></span>&nbsp;&nbsp;<span class="text">My
                Profile</span></a>
          </li>
          <li class="parent"><a class="has-arrow"><span class="icon"><i class="fas fa-cogs"></i></span>&nbsp;&nbsp;<span
                class="text">System & User Setup</span></a>
            <div class="wrapper">
              <ul>
                <li><a [routerLink]="['/HOME/admin-dashboard']">Dashboard</a></li>

                <li><a [routerLink]="RoleId==1?['/HOME/usersRegistrationList']:['/HOME/userRegistration']">User Registration</a></li>
                <li *ngIf="RoleId==1"><a [routerLink]="['/HOME/company-details']">Company Profile</a></li>
                <li *ngIf="RoleId==1"><a [routerLink]="['/HOME/configure-images']">Configure Image</a></li>
              </ul>
            </div>
          </li>
          <!-- <li class="parent"><a class="has-arrow"><span class="icon"><i class="fas fa-cogs"></i></span>&nbsp;&nbsp;<span
                class="text">Internships</span></a>
            <div class="wrapper">
              <ul>
                <li><a [routerLink]="['/HOME/courses']">Internship List</a></li>
                <li><a [routerLink]="['/HOME/courseSchedule']">Internship Schedule</a></li>
                <li><a [routerLink]="['/HOME/appliedInternships']">Internship Applications</a></li>
                <li><a [routerLink]="['/HOME/notification']">Notification</a></li>
                <li *ngIf="RoleId==5 || RoleId==1"><a [routerLink]="['/HOME/resumeLst']">Resumes</a></li>
              </ul>
            </div>
          </li> -->

          <li class="parent" *ngIf="RoleId==1"><a class="has-arrow"><span class="icon"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                  <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                </svg></span>&nbsp;&nbsp;<span class="text">Job & Internship Management</span></a>
            <div class="wrapper">
              <ul>
                <!-- <li><a [routerLink]="['/HOME/jobsMnu']">Jobs</a></li> -->
                <li><a [routerLink]="['/HOME/internshipMnu']">Internships</a></li>
                <li><a [routerLink]="['/HOME/jobsMnu']">Jobs</a></li>
                <li *ngIf="RoleId==5 || RoleId==1"><a [routerLink]="['/HOME/resumeLst']">Resumes</a></li>
              </ul>
            </div>
          </li>
          <!-- <li class="parent" *ngIf="RoleId==5 || RoleId==1"><a [routerLink]="['/HOME/resumeLst']">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                  <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                </svg></span>&nbsp;&nbsp;<span class="text">Resumes</span></a>
          </li> -->
          <!-- TODO: Uncomment when advertisements feature is needed -->
          <!-- <li class="parent" *ngIf="RoleId==1"><a class="has-arrow"><i class="fas fa-location-arrow"></i>
              &nbsp;&nbsp;<span class="text">Promotion & Engagement</span></a>
            <div class="wrapper">
              <ul>
                <li *ngIf="RoleId==1"><a [routerLink]="['/HOME/advertisements']">Advertisements</a></li>
              </ul>
            </div>
          </li> -->
          <li class="parent" *ngIf="RoleId==5 || RoleId==1"><a class="has-arrow"><i class="fas fa-file-invoice-dollar"></i>
              &nbsp;&nbsp;<span class="text">Subscriptions & Packages</span></a>
            <div class="wrapper">
              <ul>
                <li><a [routerLink]="['/HOME/subscribe']">Subscribe</a></li>
                <li><a [routerLink]="['/HOME/my-subscriptions']">My Subscriptions</a></li>
              </ul>
            </div>
          </li>
          <div *ngIf="ScreenPermission">
            <li class="parent"><a [routerLink]="['/HOME/my-reviews']" class=""><span class="icon"><i
                    class="fas fa-star"></i></span>&nbsp;&nbsp;<span class="text">My Reviews</span></a>
            </li>

            <li class="parent"><a [routerLink]="['/HOME/tutor-payments']" class=""><span class="icon"><i
                    class="fas fa-file-invoice-dollar"></i></span>&nbsp;&nbsp;<span class="text">My Payments</span></a>
            </li>
          </div>

          <!-- <li class="parent"><a class="has-arrow"><span class="icon"><i class="fas fa-pen"></i></span>&nbsp;&nbsp;<span
                class="text">Assignments</span></a>
            <div class="wrapper">
              <ul>
                <li><a [routerLink]="['/HOME/assignments']">Assignments</a></li>
                <li><a [routerLink]="['/HOME/evaluateAssignments']">Evaluate Assignment</a></li>
              </ul>
            </div>
          </li> -->
          <!-- 
          <li class="parent"><a class="has-arrow"><span class="icon"><i
                  class="fas fa-id-card"></i></span>&nbsp;&nbsp;<span class="text">Assessment</span></a>
            <div class="wrapper">
              <ul>
                <li><a [routerLink]="['/HOME/assessmentQuestionnaire']">Assessment Questionnaire</a></li>
                <li><a [routerLink]="['/HOME/masterAssessment']">Master Assessment</a></li>
                <li><a [routerLink]="['/HOME/scheduleAssessment']">Schedule Assessment</a></li>
                <li><a [routerLink]="['/HOME/evaluateAssessment']">Evaluate Assessment</a></li>
                <li><a [routerLink]="['/HOME/examResult']">Exam Result</a></li>
                <li><a [routerLink]="['/HOME/assessmentResult']">Assessment Results</a></li>
              </ul>
            </div>
          </li> -->

          <!-- <li class="parent" *ngIf="RoleId==1"><a [routerLink]="['/HOME/configure-images']">
              <span class="icon"><i class="fas fa-camera"></i></span>&nbsp;&nbsp;<span class="text">Configure
                Images</span></a>
          </li> -->
          <!--  *ngIf="RoleId==1"  line no-220 -->
          <li class="parent" *ngIf="false"><a class="has-arrow"><span class="icon"><i
                  class="fas fa-book"></i></span>&nbsp;&nbsp;<span class="text">Reports</span></a>
            <div class="wrapper">
              <ul>
                <li><a [routerLink]="['/HOME/course-report']">Course Report</a></li>
                <li><a [routerLink]="['/HOME/trainer-report']">Admin Report</a></li>
                <li><a [routerLink]="['/HOME/trainee-report']">Student Report</a></li>
                <li><a [routerLink]="['/HOME/fee-report']">Fee Report</a></li>

              </ul>
            </div>
          </li>

          <!-- <li class="parent" *ngIf="RoleId==1"><a [routerLink]="['/HOME/company-details']">
              <span class="icon"><i class="fas fa-building"></i></span>&nbsp;&nbsp;<span class="text">Company
                Profile</span></a>
          </li> -->

          <!-- <li class="parent" *ngIf="RoleId==1"><a [routerLink]="['/HOME/advertisements']">
              <span class="icon"><i class="fas fa-location-arrow"></i></span>&nbsp;&nbsp;<span
                class="text">Advertisements</span></a>
          </li> -->
          <!-- 
          <li class="parent" *ngIf="RoleId==1"><a [routerLink]="['/HOME/appliedInternships']">
              <span class="icon"><i class="fas fa-check-square"></i></span>&nbsp;&nbsp;<span class="text">Internship
                Approvals</span></a>
          </li> -->
          <!-- <li class="parent" *ngIf="RoleId==1"><a [routerLink]="['/HOME/jobList']">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                  <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                </svg></span>&nbsp;&nbsp;<span class="text">Jobs</span></a>
          </li> -->
          <!-- <li class="parent" *ngIf="RoleId==1"><a [routerLink]="['/HOME/jobAppliedList']">
              <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                  <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z" />
                </svg></span>&nbsp;&nbsp;<span class="text">Job Applied Members</span></a>
          </li> -->
         
          <!-- <li class="parent" *ngIf="RoleId==5 || RoleId==1"><a [routerLink]="['/HOME/subscribe']">
              <span class="icon"><i class="fas fa-chalkboard-teacher"></i>
              </span>&nbsp;&nbsp;<span class="text">Subscribe</span></a>
          </li>
          <li class="parent" *ngIf="RoleId==5 || RoleId==1"><a [routerLink]="['/HOME/my-subscriptions']">
              <span class="icon"><i class="fas fa-file-invoice-dollar"></i>
              </span>&nbsp;&nbsp;<span class="text">My Subscriptions</span></a>
          </li> -->







          <!-- <li class="parent"><a class="has-arrow"><span class="icon"><i
            class="fas fa-satellite-dish"></i></span>&nbsp;&nbsp;<span class="text">Conference</span></a>
      <div class="wrapper">
        <ul>
          <li><a [routerLink]="['/home/meetings']">Recording Storage</a></li>
          <li><a [routerLink]="['/home/eventRequest']">Event Request</a></li>
          <li><a [routerLink]="['/home/joinconference']">Join Conference</a></li>
        </ul>
      </div>
    </li> -->





        </ul>
      </div>

    </div>
  </div>
</div>
